// CORRIJA ESTE ARQUIVO - @use deve vir primeiro
@use '@angular/material' as mat;

// Defina suas customizações de tema AQUI, depois do @use
@include mat.core();

// Defina as paletas de cores
$beneficio-frontend-primary: mat.define-palette(mat.$indigo-palette);
$beneficio-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$beneficio-frontend-warn: mat.define-palette(mat.$red-palette);

// Crie o tema
$beneficio-frontend-theme: mat.define-light-theme((
  color: (
    primary: $beneficio-frontend-primary,
    accent: $beneficio-frontend-accent,
    warn: $beneficio-frontend-warn,
  )
));

// Aplique o tema
@include mat.all-component-themes($beneficio-frontend-theme);